body {
    background-color:#fffafa
  }
  .flexThisBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1 0 auto;
    background-color: snow;
  }
  footer {
    background-color:#ffffff;
    min-height: 50px;
  }
  header {
    background-color: snow;
  }